img {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 150px;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
}

/*#manny {
    max-height: 150px;
}
*/
.column_overlay {
    position:relative;
    float: left;
    width: 21%;
    padding: 10px;
    vertical-align: middle;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 1;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1;
  width: 68%;
  transition: .5s ease;
  opacity:0;
  color: salmon;
  font-size: 22px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.column_overlay:hover .overlay {
  opacity: 1;
}

#section_one {
    display: none;
}

#section_two {
    display: none;
}

#section_three {
    display: none;
}

#section_four {
    display: none;
}