body {
    background-image: url(images/miriana-doroban-u-iRjOMSpZaEE-unsplash.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-color: #B4F2FE;
    font-family: 'Revalia', cursive;
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left; 
}

.header {
    background-color: #B4F2FE; 
    color: black;
    text-align: center;
    margin: auto;
    border-radius: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
    width:fit-content;
    align-content: center;
}

.button {
    background-color: black;
    font-family: 'Revalia', cursive;
    color: white;
}

input[type=text] {
    text-align: left;
    padding: 2px 2px;
    margin: 3px 0;
    box-sizing: border-box;
    font-family: 'Revalia', cursive;
  }

input[name='reason'] {
    width: 500px;
}

#user-id {
    margin-right: 5px;
    display: inline-block;
}

#album-search-display {
    background-color: white;
    color: black;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 10px;
    border-radius: 12px;
    padding-left: 20px;
    font-size: small;
    align-items: center;
}

.placed-cover {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 3px;
    width:100px;
    max-height: 200px;
    display: inline-block;
    border: 2px solid white
}

.icon {
    margin: 1px;
    line-height: normal;
    max-height: 48px;
    overflow: hidden;
}

#album-search-results {
    background-color: white;
    color: black;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 10px;
    border-radius: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: medium;
    align-items: center;
}

.album-para {
    margin-top: 5px;
    margin-bottom: 5px;
}

.spot-cover-info {
    height: auto;
    display:inline-block;
    margin: auto;
}

.list-number {
    background-color: white;
    margin-top: 50px;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    text-align: center;;
    color: black;
    display: inline-block;
    margin: 20px;
    text-shadow: 1px 1px 2px #111111;
}

.reason-form {
    display: block;
    text-align: center;
    background-color: lightgreen;
    color: 	#B22222;
    border-radius: 12px;
    margin: auto;
    width: fit-content;
    padding-left:25px;
    padding-right:25px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-shadow: 1px 1px 2px #111111;
    /* margin-left: 15%;
    margin-right: 15%; */
    /* color: black; */
}

.album-cover {
    background-color: #27884E;
    padding: 3px;
    height: 100px;
    width: 100px;
    display: inline-block;
    /* margin-right: 20px;
    margin-left: 20px; */
    margin: auto;
    border-radius: 3px;
    vertical-align: middle;
    border-color: white;
    border: 1px;
}

.album-info {
    background-color: #27884E;
    font-size: 90%;
    float: right;
    border-radius: 12px;
    margin: 20px; 
    margin-left: 40px;
    padding-left: 8px;
    padding-right: 8px;
    width:auto;
    text-shadow: 1px 1px 2px #111111;

}

.album-render-div {
    max-height:125px;
    overflow: hidden;
    width: 125px;
    font-size:x-small;
    text-align: center;
    display: inline-table;
    letter-spacing: 1px;
}

#list-number {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    text-align: center;;
    color: black;
    display: block;
    margin: auto;
    align-self: center;
}

.add-reason-form {
    display: none
}

#suggestion {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
    margin-top: 30px;
    align-content: center;
    text-align: center;
}

#comment-box{
    background-color: white;
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    border-radius: 12px;
    height: 200px;
    overflow-y: scroll;
    font-size: 80%;
    
}
/*img {
    border: 4px solid rgb(119, 20, 50);
    border-radius: 15px;
    padding: 5px;
    width: 150px;
    min-height: 230px;
    max-height: 230px;
    object-fit: cover;
}
*/

/*
.row::after {
    content: "";
    clear: both;
    display: table;
  }
*/

/* Make the image to responsive
.image {
  display: block;
  width: 100%;
  object-fit: cover;
}
*/

/* The overlay effect - lays on top of the container and over the image
.overlay {
  position: absolute;
  bottom: 1;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.9); Black see-through
  color: #f1f1f1;
  width: 68%;
  transition: .5s ease;
  opacity:0;
  color: salmon;
  font-size: 22px;
  padding: 20px;
  text-align: center;
}
*/


/* When you mouse over the container, fade in the overlay title
.column_overlay:hover .overlay {
  opacity: 1;
}
*/